<p id="notice"><%= notice %></p>

<h1>Credit Lines</h1>

<table class="table table-hover" style="width: auto;"> 
  <thead>
    <tr>
      <th>ID</th>
      <th>Apr</th>
      <th>Limit</th>
      <th>Amount drawn</th>
    </tr>
  </thead>

  <tbody>
    <% @credit_lines.each do |credit_line| %>
      <tr data-link="<%= credit_line_path(credit_line) %>" >
        <td><%= credit_line.id %></td>
        <td><%= credit_line.apr %></td>
        <td class="money"><%= credit_line.limit %></td>
        <td class="money" align="right"><%= credit_line.amount_drawn %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4><%= link_to 'New Credit line', new_credit_line_path %></td>
    </tr>
  </tbody>
</table>

<br>



<script type="text/javascript">
  $(document).ready(function() {
    $("tr[data-link]").click(function() {
        window.location = $(this).data("link")
    });
    $(".money").each(function() {
      $(this).text('$' + parseFloat($(this).text(), 10).toFixed(2).toString());
    });
  });
</script>

