<%= form_for([@credit_line, @transaction]) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, ["Payment", "Withdrawal"], {}, class: 'form-control'%>
  </div>
  <div class="field form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, class: "form-control", step: 50%>
  </div>
  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, {}, class: 'form-control' %>
  </div>

  <div class="actions form-group">
      <%= f.submit class: "btn btn-default"%>
  </div>

<% end %>
